// Heading Styles
.heading {
  &-main-lev {
    position: relative;
    float: right;
    &--main {
      text-transform: uppercase;
      mix-blend-mode: screen;
      background-color: rgba(colors(col-white), 0.7);
      padding: 1.2rem; // 12px/10px = 1.2rem
      margin: 5rem 5rem 3rem 5rem; // 50px/10px = 5rem
      display: block;
    }
    &--sub {
      text-transform: capitalize;
      display: block;
      color: colors(col-white);
      text-align: center;
      font-weight: 600;
      letter-spacing: 0.5px;
    }
  }
  &-section-lev {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.1rem; // 1px/10px = 0.1rem
    margin: 2.5rem 0; // 25px/10px = 2.5rem
    &--sub {
      text-align: center;
    }
  }
  &-sub-lev {
    margin: 3rem 0; // 30px/10px = 3rem
    font-weight: 550;
    font-style: italic;
  }
}
